.git
node_modules
pnpm-store
**/.next
**/.turbo
**/dist
**/.output
**/.vercel
.env
.env.*
!.env.example
!**/.env.example
coverage
coverage/**
playwright-report
playwright-report/**
*.log
*.swp
*.DS_Store
