.color-picker .react-colorful {
  width: 100%;
  height: 200px;
}

.color-picker .react-colorful__saturation {
  border-radius: 4px;
  margin-bottom: 6px;
}

.color-picker .react-colorful__hue {
  border-radius: 4px;
}

.color-picker .react-colorful__pointer {
  width: 28px;
  height: 28px;
}
