---
import { APP } from "@/lib/constants";
import Container from "./Container.astro";
import WordMark from "./icons/WordMark.astro";
---

<header id="header" class="bg-background/90 z-50 relative max-lg:py-4 backdrop-blur-md">
  <Container class="lg:border-x border-dashed lg:py-4">
    <nav id="nav" class="group grid grid-cols-2 transition items-center sticky top-96">
      <!-- mobile nav -->
      <div 
        id="mobile-nav"
        class="hidden data-[expanded]:block data-[expanded]:fixed data-[expanded]:inset-0 z-50 pt-20 px-6 h-screen bg-background/90 backdrop-blur-[5px] md:hidden"
      >
        <ul class="flex flex-col gap-6">
          <li
            class="relative after:absolute after:bg-primary after:h-full after:w-0.5 after:top-auto after:bottom-0 after:left-0 after:scale-y-0 after:origin-top hover:after:scale-y-100 hover:after:origin-bottom transition after:transition after:duration-500 w-fit px-2"
          >
            <a href="https://docs.marblecms.com">
              <span>Docs</span>
            </a>
          </li>
          <li
            class="relative after:absolute after:bg-primary after:h-full after:w-0.5 after:top-auto after:bottom-0 after:left-0 after:scale-y-0 after:origin-top hover:after:scale-y-100 hover:after:origin-bottom transition after:transition after:duration-500 w-fit px-2"
          >
            <a href="/pricing">
              <span>Pricing</span>
            </a>
          </li>
          <li
            class="relative after:absolute after:bg-primary after:h-full after:w-0.5 after:top-auto after:bottom-0 after:left-0 after:scale-y-0 after:origin-top hover:after:scale-y-100 hover:after:origin-bottom transition after:transition after:duration-500 w-fit px-2"
          >
            <a href="/blog">
              <span>Blog</span>
            </a>
          </li>
          <li
            class="relative after:absolute after:bg-primary after:h-full after:w-0.5 after:top-auto after:bottom-0 after:left-0 after:scale-y-0 after:origin-top hover:after:scale-y-100 hover:after:origin-bottom transition after:transition after:duration-500 w-fit px-2"
          >
            <a href={`${APP.URL}/register`}>
              <span>Sign up</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- desktop nav -->
      <div class="flex items-center gap-4 justify-start z-[100]">
        <a
          href="/blog"
          class="text-lg tracking-wider flex items-center gap-2"
          >
          <WordMark />
          <span class="sr-only">marblecms</span>
        </a>
      </div>
      
      <div class="hidden md:flex items-center justify-end">
        <a
          href={`${APP.URL}/login`}
          class="font-medium hover:bg-primary hover:text-white p-2 w-24 flex items-center justify-center transition duration-300 text-sm border border-primary bg-white"
        >
          <span>Sign in</span>
        </a>
      </div>
      <!-- mobile nav toggle -->
      <div class="flex items-center justify-end md:hidden z-[100]">
        <button id="toggle" class="flex flex-col justify-center gap-1.5 size-6 focus-visible:outline-dashed focus-visible:outline-offset-1">
          <span id="bar" class="h-0.5 self-start bg-foreground w-1/2 data-[expanded]:w-[calc(50%-3px)] data-[expanded]:rotate-45 data-[expanded]:translate-y-[2px] data-[expanded]:translate-x-[2px] transition duration-300"></span>
          <span id="bar" class="h-0.5 w-full bg-foreground data-[expanded]:-rotate-45 transition duration-300"></span>
          <span id="bar" class="h-0.5 self-end bg-foreground w-1/2 data-[expanded]:w-[calc(50%-3px)] data-[expanded]:rotate-45 data-[expanded]:-translate-y-[3px] data-[expanded]:-translate-x-0.5 transition duration-300"></span>
        </button>
      </div>
    </nav>
  </Container>
</header>

<!-- <script>
  document.addEventListener('astro:page-load', () => {
    const header = document.getElementById('header');
    const nav = document.getElementById('nav');

    if (nav && header) {
      window.addEventListener('scroll', () => {
        const isScrolled = window.scrollY >= 64;
        const headerRect = header.getBoundingClientRect();
        const isHeaderVisible = headerRect.bottom >= window.innerHeight;

        const scrollClasses = [
          'sticky',
          'top-0',
          'bg-white/90',
          'border',
          'rounded-lg',
          'backdrop-blur-md',
          'py-2',
          'px-4',
        ];

        if (window.scrollY >= 100 || !isHeaderVisible) {
          scrollClasses.forEach(className => nav.classList.add(className));
        } else {
          scrollClasses.forEach(className => nav.classList.remove(className));
        }
      });
    }
  });
</script> -->

<script>
  function initMobileNav() {
    const toggle = document.getElementById('toggle');
    const nav = document.getElementById('mobile-nav');

    const toggleNav = () => {
      nav?.toggleAttribute("data-expanded")
      document.body.classList.toggle('overflow-y-hidden');
      document.querySelectorAll('#bar').forEach(el => el.toggleAttribute("data-expanded"));
    };
    
    if (toggle) {
      toggle.addEventListener('click', toggleNav);
    }
  }

  // Initialize on first load
  initMobileNav();

  // Re-initialize after page transitions
  document.addEventListener('astro:after-swap', initMobileNav);
</script>