---
import type { CollectionEntry } from "astro:content";
import { cn } from "@/lib/utils";

type Props = {
  categories: CollectionEntry<"categories">[];
};

const { categories } = Astro.props as Props;
const categoriesToShow = categories.filter(
  (category) => category.data.slug !== "legal"
);

const currentPath = Astro.url.pathname.replace(/\/$/, "");
---
<ul class="flex flex-wrap items-center gap-2 justify-center mt-8">
  <li>
    <a
      href="/blog"
      class={cn("inline-block border text-sm rounded-full px-5 py-1.5", currentPath === "/blog" ? "bg-primary text-white border-transparent" : "bg-transparent text-foreground border-border")}
      >All Posts</a
    >
  </li>
  {
      categoriesToShow.map((category) => {
        const isChangelog = category.data.slug === "changelog";
        const link = isChangelog ? "/changelog" : `/blog/category/${category.data.slug}`;
        const isActive = currentPath === link;
        return (
          <li>
            <a href={link} class={cn("inline-block text-sm border rounded-full px-4 py-1.5", isActive ? "bg-primary text-white border-transparent" : "bg-transparent text-foreground border-border")}>{category.data.name}</a>
          </li>
        )
      })
    }
</ul>
