---
import Upstash from "@/components/icons/brand/Upstash.astro";
---

<a
  class="fixed bottom-4 right-4 lg:bottom-4 lg:right-20 z-50 flex gap-2 justify-center group bg-primary text-primary-foreground items-center py-2.5 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary focus-visible:ring-2 transition-all duration-300 ease-out px-4 rounded"
  target="_blank"
  rel="noopener"
  href="https://upstash.com?utm_source=marble"
>
  <span class="text-primary-foreground/70">Sponsored by</span>
  <Upstash class="h-4 w-4" />
  <span>Upstash</span>
</a>
