---
import Upstash from "@/components/icons/sponsors/Upstash.astro";
import Neon from "@/components/icons/sponsors/Neon.astro";

const sponsors = [
  {
    name: "Upstash",
    url: "https://upstash.com?utm_source=marble",
    icon: Upstash
  },
  {
    name: "Neon",
    url: "https://neon.com?utm_source=marble", 
    icon: Neon
  }
];

const randomSponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
const IconComponent = randomSponsor.icon;
---

<a
  class="fixed bottom-4 right-4 lg:bottom-4 lg:right-20 z-50 flex gap-2 justify-center group bg-primary text-primary-foreground items-center py-2.5 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary focus-visible:ring-2 transition-all duration-300 ease-out px-4 rounded"
  target="_blank"
  rel="noopener"
  aria-label={`Sponsored by ${randomSponsor.name}`}
  href={randomSponsor.url}
>
  <span class="text-primary-foreground/70">Sponsored by</span>
  <IconComponent class="h-4 w-4" />
  <span>{randomSponsor.name}</span>
</a>
