---
  import { getCollection } from "astro:content";
  import ChangelogCard from "@/components/ChangelogCard.astro";
  import Container from "@/components/Container.astro";
  import Layout from "@/layouts/Layout.astro";
  import { SITE } from "@/lib/constants/site";

  const unsortedEntries = await getCollection("changelog");
  const entries = unsortedEntries.sort(
    (a, b) =>
      new Date(b.data.publishedAt).valueOf() -
      new Date(a.data.publishedAt).valueOf()
  );
---
<Layout
  title={`Changelog - ${SITE.TITLE}`}
  description="Follow Marble product updates, feature releases, and improvements."
>
  <section class="min-h-[calc(100vh-140px)]">
    <div class="h-full">
      <Container class="py-20 lg:py-24 h-full">
        <div class="mb-16 space-y-4 max-w-2xl">
          <h1
            class="text-2xl tracking-tight md:text-3xl lg:text-4xl font-medium"
          >
            Changelog
          </h1>
          <p class="max-w-prose md:text-lg text-muted-foreground">
            Product improvements and updates.
          </p>
        </div>
        <ul class="relative flex max-w-4xl flex-col gap-10 md:gap-12">
          <li
            aria-hidden="true"
            class="absolute top-2 bottom-2 left-1.5 w-px bg-border md:left-[11rem]"
          ></li>
          {entries.map((entry) => (
              <ChangelogCard entry={entry} />
            ))}
        </ul>
      </Container>
    </div>
  </section>
</Layout>
