---
import { getCollection } from "astro:content";
import ChangelogCard from "@/components/ChangelogCard.astro";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/lib/constants";

const entries = await getCollection("changelog");
---
<Layout
  title={`Changelog - ${SITE.TITLE}`}
  image="/og-blog.jpg"
  description="Product improvements and updates."
>
  <section class="lg:border-y border-dashed min-h-[calc(100vh-140px)]">
    <div
      class="lg:border-x border-dashed md:w-[calc(100%-140px)] mx-auto h-full"
    >
      <Container class="py-20 lg:py-24 h-full">
        <div class="mb-16 space-y-4 max-w-2xl">
          <h1
            class="text-2xl tracking-tight md:text-3xl lg:text-4xl font-medium"
          >
            Changelog
          </h1>
          <p class="max-w-prose md:text-lg text-muted-foreground">
            Product improvements and updates.
          </p>
        </div>
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8 auto-rows-fr">
          {
            entries.map((entry) => (
              <ChangelogCard entry={entry} />
            ))
          }
        </ul>
      </Container>
    </div>
  </section>
</Layout>
