# POSTGRES CONNECTION STRING
DATABASE_URL=postgresql://usemarble:justusemarble@localhost:5432/marble

# NEXT
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8787
NEXT_PUBLIC_SITE_URL=https://marblecms.com

# Databuddy
NEXT_PUBLIC_DATABUDDY_CLIENT_ID=<YOUR_DASHBOARD_CLIENT_ID>
NEXT_PUBLIC_DATABUDDY_WEB_CLIENT_ID=<YOUR_MARKETING_WEBSITE_ID>

# SYSTEM
MARBLE_API_URL=
SYSTEM_SECRET=

# Redis
REDIS_URL=http://localhost:8079
REDIS_TOKEN=justusemarble

AI_GATEWAY_API_KEY=
