---
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/lib/constants";
---

<Layout title={`Pricing | ${SITE.TITLE}`} description="Pricing plans for marble.">
  <Container class="mb-10 md:mb-20 border-y border-dashed">
     <section class='flex gap-14 py-14 lg:py-20 min-h-[calc(100vh-64px)] flex-col items-center justify-center border-x border-dashed'>
       <div class="relative flex flex-col items-center space-y-2 md:space-y-3">
				<h2 class="relative text-center text-balance text-2xl sm:text-3xl font-medium tracking-tight md:text-4xl lg:text-5xl max-w-4xl">
					Simple Pricing, No Surprises.
				</h2>
				<p class="max-w-prose Md:text-lg text-muted-foreground text-center">
					Get all the tools you need without breaking the bank.
				</p>
			</div>
			<ul class="grid gap-5 lg:gap-10 sm:grid-cols-2 lg:grid-cols-3">
				<li class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
					<div class="border flex flex-col gap-5 rounded-[8px] bg-white min-h-96 h-full w-full px-4 py-6">
						<div class="flex flex-col gap-4">
							<h4 class="text-medium text-2xl">Hobby</h4>
							<div class="">
								<p><span class="font-bold text-2xl">$0</span>{' '}<span>per month.</span></p>
								<p class="text-muted-foreground text-sm">For solo individuals</p>
							</div>
						</div>
						<div class="border-y border-dashed py-4">
							<a 
								href={"#"}
								target="_blank"
								class="flex bg-primary gap-2 group rounded-md text-primary-foreground items-center justify-center py-2 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 transition-all duration-300 ease-out px-8 group mt-auto"
								>
								<span>Start for free</span>
							</a>
						</div>
						<!-- Plan perks -->
						<ul class="flex flex-col gap-2 text-sm">
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Single workspace.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Unlimited posts.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Limited media storage.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>3 members per workspace.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>10k API requests per month.</span>
							</li>
						</ul>
					</div>
				</li>
				<li class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl">
					<div class="border flex flex-col gap-5 rounded-[8px] bg-white min-h-96 h-full w-full px-4 py-6">
						<!-- plan name and price -->
						<div class="flex flex-col gap-4">
							<h4 class="text-medium text-2xl">Starter</h4>
							<div class="">
								<p><span class="font-bold text-2xl">$0</span>{' '}<span>per month.</span></p>
								<p class="text-muted-foreground text-sm">For small teams</p>
							</div>
						</div>
						<div class="border-y border-dashed py-4">
							<a 
								href={"#"}
								target="_blank"
								class="flex bg-primary gap-2 group rounded-md text-primary-foreground items-center justify-center py-2 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 transition-all duration-300 ease-out px-8 group mt-auto"
							>
								<span>Get Starter</span>
							</a>
						</div>
						<!-- Plan perks -->
						<ul class="flex flex-col gap-2 text-sm">
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Up to 5 workspaces.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Unlimited posts.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Limited media storage.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>10 Members per workspace</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>50k API requests per month.</span>
							</li>
						</ul>
					</div>
				</li>
				<li class="border bg-gray-50/80 backdrop-blur-md p-1 rounded-xl sm:col-span-2 lg:col-span-1 sm:h-fit">
					<div class="border flex flex-col sm:flex-row sm:px-14 sm:py-10 lg:py-6 sm:justify-center sm:gap-20 lg:gap-4 lg:px-4 lg:flex-col gap-5 rounded-[8px] bg-white min-h-96 sm:min-h-fit lg:min-h-96 w-full px-4 py-6">
						<!-- plan name and price -->
						 <div class="flex flex-col gap-5 sm:min-w-60 lg:min-w-0">
							 <div class="flex flex-col gap-4">
								 <h4 class="text-medium text-xl text-medium">Pro</h4>
								 <div class="">
									 <p><span class="font-bold text-2xl">$0</span>{' '}<span>per month.</span></p>
									 <p class="text-muted-foreground text-sm">For growing businesses</p>
								 </div>
							 </div>
							 <div class="border-y border-dashed py-4">
								 <a 
									 href={"#"}
									 target="_blank"
									 class="flex bg-primary gap-2 group rounded-md text-primary-foreground items-center justify-center py-2 text-sm hover:ring-offset-2 hover:ring-primary hover:ring-2 transition-all duration-300 ease-out px-8 group mt-auto"
									 >
									 <span>Get Pro</span>
								 </a>
							 </div>
							</div>	
						<!-- perks -->
						<ul class="flex flex-col gap-2 text-sm">
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Up to 10 workspaces.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Unlimited posts.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Unlimited media storage.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>20 members per workspace</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>100k API requests per month.</span>
							</li>
							<li class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5 text-emerald-500">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
								</svg>
								<span>Webhooks.</span>
							</li>
						</ul>
					</div>
				</li>
			</ul>
     </section>
  </Container>
</Layout>