---
import { getEntry, render } from "astro:content";
import Container from "@/components/Container.astro";
import Prose from "@/components/Prose.astro";
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/lib/constants";

const entry = await getEntry("page", "privacy");

if (!entry) {
  throw new Error("Page not found");
}

const { Content } = await render(entry);

const formattedDate = new Date(entry.data.lastUpdated).toLocaleDateString(
  "en-US",
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  },
);
---


<Layout 
  title={`Privacy policy - ${SITE.TITLE}`}
  description="Privacy policy for marble."
>
<div class="border-y border-dashed">
  <Container class="pt-14 pb-32 lg:border-x border-dashed">
    <div class='max-w-2xl mx-auto mb-10 space-y-2'>
      <h1 class='font-medium text-2xl sm:text-3xl md:text-4xl text-center'>
        Privacy Policy.
      </h1>
      <p class="text-center text-muted-foreground">Last updated: {formattedDate}</p>
    </div>

    <Prose class="prose-sm max-w-screen-sm prose-p:font-sans prose-li:font-sans">
      <Content />
    </Prose>
  </Container>
</div>
</Layout>